<!DOCTYPE html>
<html>
<head>
  <title>Flight Management</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">ALL FLIGHTS</a></li>
      <li><a href="/new">ADD FLIGHT</a></li>
    </ul>
  </nav>
  <div>
