<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>New Flight</h1>
  <form action="/flights" method="POST">
    <label for="airline">Airline:</label>
    <input type="text" id="airline" name="airline" required><br><br>
  
    <label for="flightNo">Flight Number:</label>
    <input type="number" id="flightNo" name="flightNo" required><br><br>
  
    <label for="airport">Airport
  
</body>
</html>